*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,body{
  height:100%;
  width:100%;
}
main{
  height: 100vh;
  width:100%;
  border:1px solid transparent;
}
.box{
  min-height:50vh;
  width:50vw;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.247);
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:2em;
}
main>h1{
  text-align: center;
  margin-top: 4rem;
  color:#0096c7;
  font-weight: 700;
  text-transform: uppercase;
}
#task{
  width: 60vw;
  height: 70%;
  border:1px solid transparent;
  /* background-color: red; */
}
#taskList{
  /* background-color: #0096c7; */
  overflow: auto;
  height: 50vh;
  margin-top: 2em;

}
#butn{
  position: absolute;
  left: 50%;
  top:5%;
  transform: translate(-50%,-50%);
}
.cut{
  text-decoration: line-through;
}
.lightColor{
  color:#24303b81;
}